
label {
  margin-bottom: 1px;
  float: right;
}

input {
  width: 100%;
}

button {
  margin: 5px;
}

.btn-container {
  display: flex;
}

.submit {
  flex-grow: 2;
}

.validation-error {
  font-size: 10px;
  color: rgb(219, 0, 0);
  border-width: 0px;
  flex-grow: 2;
  margin: 0px;
  justify-content: center;
}

.form {
  max-width: 400px;
}